ServiceFacade/Connected Services/AppointmentService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CMD.Appointments.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CMD.Appointments.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AppointmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Appointment_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Issue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonForVisit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSlot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="doctorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patientId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentDTO" nillable="true" type="tns:AppointmentDTO" />
  <xs:complexType name="ArrayOfAppointmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointmentDTO" nillable="true" type="tns:AppointmentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointmentDTO" nillable="true" type="tns:ArrayOfAppointmentDTO" />
  <xs:complexType name="ArrayOfPrescriptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrescriptionDTO" nillable="true" type="tns:PrescriptionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrescriptionDTO" nillable="true" type="tns:ArrayOfPrescriptionDTO" />
  <xs:complexType name="PrescriptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="App_Id" type="xs:long" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBeforeFood" type="xs:boolean" />
      <xs:element minOccurs="0" name="Medicine_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Medicine_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Medicine_cycle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrescriptionDTO" nillable="true" type="tns:PrescriptionDTO" />
</xs:schema>