ServiceFacade/Connected Services/AppointmentService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8735/CMD.Appointments.Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMD.Appointments.DTOs" />
  <xs:element name="AddAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CMD.Appointments.DTOs" minOccurs="0" name="appointment" nillable="true" type="q1:AppointmentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAppointmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppointmentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="App_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppointmentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CMD.Appointments.DTOs" minOccurs="0" name="getAppointmentByIdResult" nillable="true" type="q2:ArrayOfAppointmentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAppointmentsOfDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Doc_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAppointmentsOfDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CMD.Appointments.DTOs" minOccurs="0" name="getAllAppointmentsOfDoctorResult" nillable="true" type="q3:ArrayOfAppointmentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAppointmentsOfPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pat_Emailid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAppointmentsOfPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CMD.Appointments.DTOs" minOccurs="0" name="getAllAppointmentsOfPatientResult" nillable="true" type="q4:ArrayOfAppointmentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAppointmentsAccToStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAppointmentsAccToStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CMD.Appointments.DTOs" minOccurs="0" name="getAllAppointmentsAccToStatusResult" nillable="true" type="q5:ArrayOfAppointmentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAppointmentStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="app_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAppointmentStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAppointmentStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAllPrescripton">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAllPrescriptonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CMD.Appointments.DTOs" minOccurs="0" name="ShowAllPrescriptonResult" nillable="true" type="q6:ArrayOfPrescriptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPrescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CMD.Appointments.DTOs" minOccurs="0" name="prescription" nillable="true" type="q7:PrescriptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPrescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPrescriptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CMD.Appointments.DTOs" minOccurs="0" name="prescription" nillable="true" type="q8:PrescriptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPrescriptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>